In [1]:
import pandas as pd
from transformers import BertTokenizer

In [2]:
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')

In [3]:
df = pd.read_csv("QNLI/train.tsv", sep="\t", error_bad_lines=False)

b'Skipping line 10344: expected 4 fields, saw 5\nSkipping line 10897: expected 4 fields, saw 5\nSkipping line 11356: expected 4 fields, saw 5\nSkipping line 11367: expected 4 fields, saw 5\nSkipping line 16599: expected 4 fields, saw 5\nSkipping line 17114: expected 4 fields, saw 5\nSkipping line 23153: expected 4 fields, saw 5\nSkipping line 25672: expected 4 fields, saw 5\nSkipping line 31107: expected 4 fields, saw 5\nSkipping line 31359: expected 4 fields, saw 5\nSkipping line 31402: expected 4 fields, saw 5\nSkipping line 32555: expected 4 fields, saw 5\nSkipping line 38524: expected 4 fields, saw 5\nSkipping line 46338: expected 4 fields, saw 5\nSkipping line 47889: expected 4 fields, saw 5\nSkipping line 56759: expected 4 fields, saw 5\nSkipping line 56850: expected 4 fields, saw 5\nSkipping line 56919: expected 4 fields, saw 5\nSkipping line 57514: expected 4 fields, saw 5\nSkipping line 67155: expected 4 fields, saw 5\nSkipping line 75061: expected 4 fields, saw 5\nSkipping line 75721: expected 4 fields, saw 5\nSkipping line 76275: expected 4 fields, saw 5\nSkipping line 81073: expected 4 fields, saw 5\nSkipping line 81535: expected 4 fields, saw 5\nSkipping line 82386: expected 4 fields, saw 5\nSkipping line 83818: expected 4 fields, saw 5\nSkipping line 84674: expected 4 fields, saw 5\nSkipping line 88965: expected 4 fields, saw 5\nSkipping line 90380: expected 4 fields, saw 5\nSkipping line 91441: expected 4 fields, saw 5\nSkipping line 91640: expected 4 fields, saw 5\nSkipping line 92513: expected 4 fields, saw 5\nSkipping line 102152: expected 4 fields, saw 5\n'

In [4]:
df.shape

(103106, 4)

In [5]:
df.head()

,index,question,sentence,label
0,0,When did the third Digimon series begin?,Unlike the two seasons before it and most of t...,not_entailment
1,1,Which missile batteries often have individual ...,"When MANPADS is operated by specialists, batte...",not_entailment
2,2,What two things does Popper argue Tarski's the...,He bases this interpretation on the fact that ...,entailment
3,3,What is the name of the village 9 miles north ...,"On 31 December 1853, the Ottoman forces at Cal...",entailment
4,4,What famous palace is located in London?,London contains four World Heritage Sites: the...,not_entailment

In [6]:
print(df['question'][1000])
print(df['sentence'][1000])
print(df['label'][1000])

In what river does the Bronx have 4 peninsulas?
East of the Bronx River, the borough is relatively flat and includes four large low peninsulas, or 'necks,' of low-lying land which jut into the waters of the East River and were once saltmarsh:
entailment

In [7]:
result = []

In [8]:
for i in range(80000):
    if len(tokenizer.tokenize(df['question'][i])) < 20 and len(tokenizer.tokenize(df['sentence'][i])) < 60:
        result.append([df['question'][i] + " [SEP] " + df['sentence'][i], 
                       df['label'][i]])

In [9]:
len(result)

69975

In [10]:
train_df = pd.DataFrame(result , columns = ['Text', 'Entailment'])

In [11]:
train_df.to_csv('qnli.csv', index=False)